label {font-weight:bold}

.strong {
  color: #66cc66;
}
.weak {
  color: #ff6666;
}

@font-face {
  font-display: swap;
  font-family: Salvatore;
  font-style: normal;
  font-weight: normal;
  src: url('/../fonts/SalvatoreBook.woff2') format('woff2'),
    url('/../fonts/SalvatoreBook.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Salvatore;
  font-style: italic;
  font-weight: normal;
  src: url('/../fonts/SalvatoreBookItalic.woff2') format('woff2'),
    url('/../fonts/SalvatoreBookItalic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Salvatore;
  font-style: normal;
  font-weight: 600;
  src: url('/../fonts/SalvatoreBold.woff2') format('woff2'),
    url('/../fonts/SalvatoreBold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Salvatore;
  font-style: italic;
  font-weight: 600;
  src: url('/../fonts/SalvatoreBoldItalic.woff2') format('woff2'),
    url('/../fonts/SalvatoreBoldItalic.woff') format('woff');
}


* {
  font-family: 'Salvatore', sans-serif;
}

.QualitySeal {
  border-top: 1px solid #F3DFD6;
  color: #0857C3;
  margin-top: 40px;
  padding-top: 20px;
}

.QualitySeal__text {
  font-size: 14px;
  margin-bottom: 1em;
}

.input-wrap {
  background: #0857C3;
  box-shadow: 0px 0px 20px rgba(8, 87, 195, 0.3);
  border-radius: 10px;
  padding: 18px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.input-wrap input {
  display: block;
  width: 100%;
  font-size: 2rem;
  margin: 0 !important;
  border: 0;
  padding: 8px 18px;
  height: 44px;
  background: #FFFFFF;
  box-shadow: inset 0px 0px 10px rgba(255, 107, 23, 0.5);
  border-radius: 10px;
  font-family: Salvatore;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #0857C3;
}

html {
  font-feature-settings: 'liga' 1, 'kern' 1;
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

body {
  font-size: 14px;
}

@media screen and (min-width: 750px) {
  body {
    font-size: 16px;
  }
}
